@font-face {
  font-family: 'Junction Regular';
  src: url('../fonts/Junction-regular.woff');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-regular.woff');
}

@font-face {
  font-family: 'Gotham Narrow Bold';
  src: url('../fonts/GothamNarrow-Bold.woff');
}

.frontrow {
 text-align: left;
 display: inline-block;
 margin-top: 20px;
}

.whitebg {
 background-color: white;
}

.frontrowcontainer {
 float:left;
 display: inline;
 clear: none;
 width: 270px;
 height: 540px;
 position: relative;
}

#redwave {
 position: absolute;
 top: 500px;
 min-width: 1400px;
 z-index: 5;
}

.secondarytitle {
 font: 26px 'Open Sans Regular';
 padding: 22px 5px 0px 22px
 
}

.educationrow {
 text-align: left;
 display: inline-block;
 margin-top: 20px;
}

.educationcontainer {
 float:left;
 display: inline;
 clear: none;
 width: 360px;
 height: 500px;
 position: relative;
 padding: 20px;
}

.frontrowcontent {
 display: inline-block;
}

.frontrownewstitle {
 width: 270px;
 height: 65px;
 position: relative;
 top: 85px;
 background: rgb(42,41,46);
 background: rgba(42,41,46,0.5);
 padding: 8px;
}

.frontrowevents {
 background-color: #aaa;
 width: 270px;
 height: 450px;
 border-right: #797979 1px solid;
 border-left: #797979 1px solid;
 border-bottom: #797979 1px solid;
}

.frontrownews {
 background-size: cover;
 width: 270px;
 height: 150px;
 border-left: #797979 1px solid;
 border-bottom: #797979 1px solid;
}

.frontrowheader {
 height: 90px;
 background-color: #272727;
 font: 26px 'Open Sans Regular';
 color: #fff;
 padding: 12px 5px 0px 29px
}

.frontrowred {
 color: #cc161d;
 position: relative;
 top: -6px;
}

.frontrowmore {
 position: absolute;
 bottom: 10px;
 right: 10px;
}

.frontrowlistbox {
 width: 270px;
 height: 450px;
 background-image: url('../img/src/charcoal.gif');
 border-left: #444 1px solid;
 border-bottom: #111 1px solid;
}

.frontrowlist {
 list-style-type: none;
 padding: 13px 10px 10px 10px;
}

.frontrowlist > li {
 background-image: url('../img/src/charcoal_separator.gif');
 background-position: bottom;
 background-repeat: repeat-x;
 height: 35px;
 padding: 0px 0px 0px 20px;
}

.frontrowlist > li > a {
 color: #fff;
 text-decoration: none;
 font: 14px verdana;
}

.frontrowlist > li > a:hover {
 color: #cc161d;
}
	
.whitelink,.whitelink:hover,.whitelink:visited {
 color: #fff;
 text-decoration: none;
}

.div-wrapper {
    position: relative;
    height: 300px;
    width: 300px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pixelman {
  height: 0px;
}

#mobile_header {
  text-decoration: none;
}

div.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#epfl_logo {
  display: block;
  float: left;
  width: 17%;
  max-width: 174px;
  min-width: 140px;
  margin: 15px 0 0 10px;
}

#sti_logo {
  display: block;
  float: left;
  width: 23%;
  max-width: 249px;
  min-width: 190px;
  margin: 15px 16px 0 0;
}

#containercalendar {
  height: 60px;
  position: absolute;
  right: 60px;
  top: 240px;
  z-index: 4;
}

#containernews {
  height: 60px;
  position: relative;
  top: -570px;
  padding: 0px 0px 0px 45px;
  z-index: 8;
}

a.titlelink {
  color: white !important;
  text-decoration: none !important;
  background-image: none;
  border-bottom: none;
  font-family: 'Open Sans Regular', sans-serif;
}

@media screen and (max-width: 990px) {
  a.titlelink {
    font-size: 5vw;
    text-shadow: 1px 1px 2px black;
  }
  a.subtitlelink {
    font-size: 4vw;
    text-shadow: 1px 1px 2px black;
  }
  #redwave {
   visibility: hidden;
  }
}

@media screen and (min-width: 1600px) {
  #redwave {
   top: 369px;
  }
}

@media screen and (min-width: 1550px) {
  #redwave {
   top: 469px;
  }
}

@media screen and (min-width: 990px) {
  a.titlelink {
    font-size: 2.1em;
    text-shadow: 1px 1px 2px black;
  }
  a.subtitlelink {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px black;
  }
}

#containerwave {
    position: relative;
    top: 0px;
    z-index: 2;
    background-position: center top;
    width:100%;
    background-size: cover;
}

@media screen and (max-width: 680px) {
    #containerwave {
        height: 450px;
    }
}
@media screen and (min-width: 680px) {
    #containerwave {
        height: 600px;
    }
}
