.width-main-listoflinks {
 max-width: 1200px;
}

.entry-body {
 padding-left: 10px;
 padding-top: 10px;
}

div.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#containercalendar {
  height: 60px;
  position: absolute;
  right: 60px;
  top: 240px;
  z-index: 4;
}
