gulpfile.js.local

.sass-cache

# Zip
epflsti.zip

# Emacs
.emacs.desktop*

# Self-signed certs for BrowserSync
devsupport/browser-sync.crt
devsupport/browser-sync.key

# .DS_Store banished!
.DS_Store

# Swap file removed
*.php~

# Node
bower_components
node_modules
dist
dist-product
npm-debug.log
/vendor/

# Created by Gulp
assets/

# Translation files
languages/*.po~