.zoomy {
  background-position: center;
  transition: all .4s ease-in-out;
  background-size: 100%;

  &:hover {
    background-size: 130%;
  }
}

/* not news carousel, image slideshow */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 90%;
  margin: auto;
}
.carousel-control {
  	  width: 5%;
}
