/**
 * Set class="zoomy" on a div to zoom-on-hover the image inside.
 *
 * Works for both background images and <img> tags
 */

.zoomy, .zoomy img {
  transition: all .4s ease-in-out;
}

.zoomy {
  background-position: center;
  background-size: 100%;

  &:hover {
    background-size: 130%;
  }

  img:hover {
    transform: scale(1.3);
  }
}

/* not news carousel, image slideshow */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 90%;
  margin: auto;
}
.carousel-control {
  	  width: 5%;
}
