/**
 * Rendering the top-level HTML elements: <html> and <body>
 */

html {
  background-image: url('Nasty-Fabric-Grey-Seamless-Patterns-For-Website-Background.jpg');
}
body {
  background-color: #ccc !important;
  max-width: 1170px;  /* Could use the Bootstrap breaks here */
  border: 1px solid #7d7a7a;
  margin: auto;
}
a {
  font-weight: bold;
}
