/**
 * Styling "cards"-based pages (e.g. people)
 *
 * We propose a number of card styles, some for the main matter (big
 * col-md-8) and some for the side matter ("nav bar" which never navs —
 * Prof. Sayed wants doesn't want any nav devices besides the megamenu)
 *
 * How to use:
 *
 * - For a "simple" card just go
 *
 *    <card>
 *       <p>Hello, world!</p>
 *    </card>
 *   
 *
 *   Discussion: a "simple" card is one that has a <p> directly below
 *   <card> as the first child element. (It may have more <p>s after
 *   that, but no <div>s or other children elements or it is no longer
 *   a "simple" card.)
 *   
 * - For a card that consists of a menu, do this:
 *
 *    <card>
 *       <ul>Menu
 *         <li>Something</li>>
 *       </ul>
 *    </card>
 * 
 * - For a card with all bells and whistles, go
 *
 *   <card>
 *     <header>
 *       <h1>Prof. Tournesol</h1>
 *     </header>
 *     <main>
 *     </main>
 *   </card>
 *
 * - If your card goes into the side matter, it should be inside an <aside> e.g.
 *
 *   <aside>
 *     <card>[...]
 *     </card>
 *   </aside>
 */

card {
  display: block;
}

aside card {
  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    width: 340px;
  }

  /**
   * The header card of the side matter
   */
  &.first {
    background-color: white;
    padding: 12px 5px;
    h2 {
      font: 15px verdana;
      font-weight: bold;
      color: black;
      abbr {
        color: $theRed;
      }
    }
  }
}

/**
 * A card on black background for displaying *outgoing* links (e.g. Prof's website etc.)
 */
aside card.links {
 color: white;
 background-image: url('../img/src/charcoal.gif');
 font-size: 13px;
 padding: 20px 20px 50px 20px;
}

card .mini-news {
 height: 145px;
 width: 203px;
 background-size: 110%;
 float:left;
 display: inline;
 clear: none;
 margin-right: 20px;
 margin-top: 20px;
 border-bottom: #cc161d 4px solid;
}

/**
 * Cards in the main column
 */
.main-matter > card {
  padding: 30px;
  float: left;
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  position: relative;

  .text-column {
    margin-right: 40px;
  }
}

.main-matter > card main {
 min-width: 300px;
 max-width: 690px;
 float:left;
 display: inline;
 clear: none;
 padding-left: 20px;
}

/**
 * Extra-important cards are bracketed with little red ribbons
 * on two opposite corners
 */
card.ribbon-red {
  position: relative;

  // TODO: Turn these into pseudo-elements.
  .ribbon-red-top {
    position: absolute;
    top:-12px;
    right: -8px;
  }

  .ribbon-red-bottom {
    position: absolute;
    bottom:-12px;
    left: -6px;
  }
}

/**
 * A card deck made up of cards of the same size
 *
 * We eschew the use of Bootstrap 4 card decks here, and go for
 * straight flex layout instead.
 */
card-deck-flex card {
    > header, > img {
        display: block;
    }
}

$sti-lab-card-width: 220px;

card.sti-lab {
    width: $sti-lab-card-width;
    border: 1px solid black;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 4px;
}

card.sti-lab h1,
div.sti_centres_header {  // OBSOLETE name
  border: 1px solid black;
  border-bottom: 0px;
  background-color: #303030;
  padding: 10px;
  font: 22px calibri, verdana, sans-serif;
  color: white;
}
card.sti-lab h1 {
    margin: 0px;
}
div.sti_centres_header {  // OBSOLETE name
  width: $sti-lab-card-width;
}

card.sti-lab > header > h1 {
    border-bottom: 4px solid $theRed;
}
.sti_centres_banner {  // OBSOLETE element for the red border at bottom
  height: 7px;
  width: $sti-lab-card-width;
  background-image: url('theme-epfl-sti/assets/textured_header_top.png');
  background-position: center bottom;
}

card.sti-lab > img,
card.sti-lab > a > img {
  height: 138px;
  width: $sti-lab-card-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sti_centres_image {  // OBSOLETE, use an img in a card.sti-lab
  height: 138px;
  width: $sti-lab-card-width;
  display: block;
  border-left: 1px solid #b2b2b0;
  border-right: 1px solid #b2b2b0;
}

card.sti-lab > p {
  padding: 10px 20px 15px 10px;
  background-color: #eee;
  height: 80px;
  font: 16px calibri, verdana, sans-serif;
}
card.sti-lab > p:last-child {
  margin-bottom: 0px;
}
.sti_centres_national {  // OBSOLETE
  padding: 10px 20px 15px 10px;
  background-color: #eee;
  height: 80px;
  width: $sti-lab-card-width;
  font: 16px calibri, verdana, sans-serif;
  border-left: 1px solid #b2b2b0;
  border-right: 1px solid #b2b2b0;
  border-bottom: 1px solid #b2b2b0;
}

/**
 * Style for cards on the "professor" pages
 */

.person-photo {
 float: left;
 display: inline;
 clear: none;
 margin-right: 20px;
 max-width: 310px;
}

.person-contact p {
    margin: 0px;
    &.bottin {
        text-indent: -2em;
        margin-left: 2em;
    }
}

.person-news-title {
 width: 203px;
 height: 61px;
 position: relative;
 top: 81px;
 background: rgb(42,41,46);
 background: rgba(0,0,0,0.7);
 padding: 8px;
}

card.person-lab h2 {
 color: #444;
}

card.person-lab img {
 width: 100%;
}

