/* -------------------------------
          EVENTS in SLIDER
   ---------------------------- */

.slider-event-table {
  cursor: pointer;
}
.slider-event-row {}
.slider-event-cell {
  width: 280px;
  background-color: #aaa;
  padding: 8px 0px 8px 8px;
  border-right: 1px solid #fff;
}
.slider-event-date {
  width: 56px;
  height: 57px;
  display: block;
  float: left;
  border: 1px solid #55576A;
  padding: 0px 4px 4px 4px;
  position: relative;
  top: -1px;
  background-color: #b3b3b3;
}
.slider-event-date-day {
  display:block;
  text-align:center;
  font-size:1.8em;
}
.slider-event-date-month {
  display: block;
  text-align: center;
  font-size: 1.2em; 
  position: relative; 
  top: -16px; 
  color: #cc161d; 
}
.slider-event-title {
  background-color: #929292;
  color: #333;
  display: block;
  margin-left: 40px;
  font-size: 0.8em; 
  line-height: 1.2em; 
  min-height: 54px; 
  vertical-align: middle; 
  padding: 12px 10px 12px 22px;
}

