/* -------------------------------
    Home Page Front Row
    ---------------------------- */
.frontrowcol {
  background-image: url('../img/src/charcoal.gif');
}

.frontrowtitle {
  background-color: #272727;
  font: 26px 'Open Sans';
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  .secondline {
    color: $theRed;
  }
}

.frontrowtitle_link, .frontrowtitle_link:visited {
  color: #fff;
  text-decoration: none;
}

.frontrowtitle_link:hover {
  color: #cc161d;
  text-decoration: none;
}

.frontrowmarker {
  color: #cc161d;
}

.frontrownews {
  display: inline-block;
  width: 100%;
  height: 150px;
  border-left: #797979 1px solid;
  border-bottom: #cc161d 4px solid;
  display: inline-block;
}

.frontrownewstitle {
  width: 100%;
  height: 61px;
  position: relative;
  top: 85px;
  background-color: #4C4C4C;
  padding: 8px;
}

.frontrowevents {
  background-color: #aaa;
  width: 270px;
  height: 450px;
  border-right: #797979 1px solid;
  border-left: #797979 1px solid;
  border-bottom: #797979 1px solid;
}

.frontrowred {
  color: #cc161d;
  position: relative;
  top: -6px;
}

.more_events {
  img {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.frontrowcontent {
 display: inline-block;
}

.frontrowlistbox.rollup {
 height: auto;
}

.frontrowlistbox {
  /*width: 270px;
  height: 450px;*/
  background-image: url('../img/src/charcoal.gif');
  border-left: #444 1px solid;
  border-bottom: #111 1px solid;
}

.frontrowlist_title {
  background-color: black;
  /*width: 270px;
  height: 56px;*/
  padding: 12px 5px 25px 22px;
  font: 24px verdana;
}

.frontrowlist {
  list-style-type: none;
  padding: 0px 10px 10px 5px;
}

.frontrowlist>li {
  padding: 7px 7px 7px 15px;
  border-bottom: 1.5px solid #2c2b2b;
  border-top: 1.5px solid #3e3e3e;
}

.frontrowlist>li>a {
  color: #fff;
  text-decoration: none;
  font: 14px verdana;
}

.frontrowlist>li>a:hover {
  color: #cc161d;
}
