/**
 * Header styles (megamenu excluded)
 */

#header {
  // Require to use z-indexes, position: absolute on children
  position: relative;
}

#header a.menu-mobile {  // burger menu - Hidden (by _megamenu.scss) on large widths
  position: absolute;
  // In principle, we should share variables with _megamenu.scss for
  // these coordinates:
  top: 0px;
  right: 20px;
}
