/* -------------------------------
    Institute-specific styles
   ----------------------------

See also _navmenus.css for the nav menus, which look the same both at
the school and the institute level.

*/

.institute-homepage-widget {
  margin-top: 3em;
  margin-bottom: 3em;
}

.institute-righthand-menu {
  display: inline;
  float: left;

  .institute-righthand-menu-title {
    background-color: black;
    padding: 12px 5px 25px 22px;
    font: 24px verdana;

  }

  .institute-righthand-menu-title-link {
    color: #fff;
  }
  .institute-righthand-menu-title-link:hover {
    color: $theRed;
    text-decoration: none;
  }

  .institute-righthand-menu-list-container{
    background-image: url('../img/src/charcoal.gif');
    border-left: #444 1px solid;
    border-bottom: #111 1px solid;
    height: auto;
  }
}

.epfl-sti-institute-title {
 margin-bottom: 0px;
 color: #444;
 background-color: #e0e0e0;
 border-top: white 1px solid;
 border-bottom: #c11100 8px solid;
 padding: 15px 15px 15px 25px;
 text-transform: uppercase;
}

.epfl-sti-institute-content {
 padding: 25px 40px 15px 40px;
 background-color: #f0f0f0;
 line-height: 30px;
 color: #3c3c3c;
}

.epfl-sti-institute-imageframe {
 padding: 4px;
 background-color: white;
 border: #ccc 1px solid;
}

