/* -------------------------------
    Institute right menu
   ---------------------------- */
#menu-ibi-nav-menu,
#menu-ibi-nav-menu-fr,
#menu-iel-nav-menu,
#menu-iel-nav-menu-fr,
#menu-igm-nav-menu,
#menu-igm-nav-menu-fr,
#menu-imt-nav-menu,
#menu-imt-nav-menu-fr,
#menu-imx-nav-menu,
#menu-imx-nav-menu-fr {
  list-style-type: none;
  padding: 13px 10px 10px 5px;

  .sub-menu {
    list-style-type: none;
    padding: 0px;

  }

  li {
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 0 15px;
    a {
      color: #fff;
      text-decoration: none;
      font: 14px verdana;
    }
    a:hover {
      color: $theRed;
    }
  }

  .current_page_item a {
    text-decoration: underline;
  }

}

.institute-homepage-widget {
  margin-top: 3em;
  margin-bottom: 3em;
}

.institute-righthand-menu {
  display: inline;
  float: left;

  .institute-righthand-menu-title {
    background-color: black;
    padding: 12px 5px 25px 22px;
    font: 24px verdana;

  }

  .institute-righthand-menu-title-link {
    color: #fff;
  }
  .institute-righthand-menu-title-link:hover {
    color: $theRed;
    text-decoration: none;
  }

  .institute-righthand-menu-list-container{
    background-image: url('../img/src/charcoal.gif');
    border-left: #444 1px solid;
    border-bottom: #111 1px solid;
    height: auto;
  }
}
