/**
 * Style for pages that consist of a list of results
 */

$list-item-hover-bgcolor: #ddd;

/**
 * Outermost box below the title
 */
.epfl-shortcode-list {
  width: 100%;
  float: left;
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  padding: 15px;
}

/**
 * List entries
 */
.fullwidth-list-item {
  width:100%;
  float:left;
  background-color:#f2f2f2;
  border: 1px solid #b4b2b2;
  margin-bottom: 20px;

  h2 {
    background-color: #c0c0c0;
    font-weight: bold;
    font-family: $font-family-base;
    font-size:   $font-size-base;
    background-color: #e4e4e4;
    background-position: left;
    background-size: 40% 140%;
    background-repeat: no-repeat;
    background-image: url(theme-epfl-sti/assets/textured_header.png);
    padding: 0.5em;
    border-bottom: 2px solid #cb161d;
    border-top: 1px solid white;
  }

  &:hover {
    background-color: $list-item-hover-bgcolor;
    > h2 {
      color: #757575;
      > a {
        color: b#757575;
      }
    }
  }
}

.fullwidth-list-item .sti-memento-body {
  width:100%;
  float:left;
  background-color:#e7e7e7;
  padding: 15px;

  > span {
    vertical-align: top;
  }
}

.actu-details img,
.memento-details img {
  border: 1px solid #b4b2b2;
  padding:3px;
  background-color:#fff;
  margin: 0px 20px 10px 10px;
  float: left;
}
