a.sti_menu_link {
  position: relative;
  top: 35px;
  font: 18pt 'Open Sans Regular',sans-serif;
  text-decoration: none;
  color: #555;

  position: relative;
  @media screen and (max-width: $megamenu-small) {
    top: 5px;
  }
  @media screen and (min-width: $megamenu-small) {
    top: 45px;
  }
}

a:visited.sti_menu_link {
  color: #555;
}
a:hover.sti_menu_link {
  text-decoration: none;
  color: #888;
}

