/* ------------------------------------------------------------
    Navigation menus (common to front row and institute menus)
   ----------------------------------------------------------- */
.institute-nav-menu, .person-nav-menu, .menu-front-row {
  list-style-type: none;
  padding: 0px 10px 10px 5px;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  ul.sub-menu li {
    border: none;
  }
  li {
    text-decoration: none;
    a:hover {
      color: $theRed;
    }
  }
  li, a {
    font-family: verdana;
    color: #fff;
  }
  a {
    text-decoration: none;
    font-weight: normal;
  }
  .current_page_item a {
    text-decoration: underline;
  }
}

/* And now, the differences: */
.institute-nav-menu, .person-nav-menu {
  font-size: 11pt;
  ul.menu>li {
    border-bottom: 1px solid #2c2b2b;
    border-top: 1px solid #3e3e3e;
    padding: 7px 7px 7px 15px;
  }
  ul.sub-menu {
    padding: 0pt 0pt 4pt 8pt;
    >li {
      padding-top: 4pt;
    }
  }
}

.menu-front-row {
  margin-left: 8pt;
  li {
    padding: 1em 0;
  }
  ul.menu {
    font: 1em verdana;
    text-transform: uppercase;
  }
  ul.sub-menu {
    font: 0.9em verdana;
    padding-bottom: 8pt;
    text-transform: none;
    padding-top: 1em;
  }
  ul.sub-menu>li {
    border-bottom: 1px solid #2c2b2b;
    border-top: 1px solid #3e3e3e;
    padding: 0.5em 0 0.5em 0.5em;
  }
}
.m_gris {
  background-image: url('bgris.jpg');
  height: 27px;
  border-bottom: #000 1px solid;
}
