/**
 * Style for inner pages (and posts - But not homepages)
 */

/*------------------------------------*/

.box_education {
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px;
  border-radius: 0;
}

.titre_education {
  width: 100%;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
}


.img_education {
  width: 100%;
  border-radius: 0;

}

.titre_education>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:16px;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #b4b2b2;
}
 a > .box_education:hover > .titre_education{
  color: #c91a25;
}

/*------------------------------------*/

.faculty-titre-card {
  margin-bottom: 20px !important;
  line-height: 1;
  min-width: 174px;
  /*background-color: #ccc;*/
  border: none;
}

.faculty-titre-id {
  width: 100%;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
  height: 8rem;
  padding: 1rem;
  hyphens: auto;
  border: 1px solid #b2b0b0;
 }

.faculty-rouge {
  width: 100%;
  height: 6px;
  background-color: #c91a25;
  border-top: 1px solid #626161;
  border-bottom: 1px solid #626161;
}

.faculty-img {
  width: 100%;
  border: 1px solid #b2b0b0;
  background-color: #fff;
  padding: 5px;
}

.faculty-titre-id>h4 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
  font-family: arial;
  font-size:12px;
  text-align: left;
}

.faculty-lab {
  font-size:10px;
  text-align: left;
}

.article-content {
  padding: 15px;
  min-height:350px;
}

.sti_title_red {
  color: $theRed;
}

.sti_title_spacer {
  padding: 10px;
  font-size: 23px;
}

.sti_centres_link:hover {
  text-decoration:none;
}

// This is all OBSOLETE
.sti_centres_image#robotics { background-image: url('/wp-content/uploads/2018/01/nccr-robotics.png'); }
.sti_centres_image#marvel { background-image: url('/wp-content/uploads/2018/01/marvel.png'); }
.sti_centres_image#furies { background-image: url('/wp-content/uploads/2018/01/sccer.png'); }
.sti_centres_image#nanotera { background-image: url('/wp-content/uploads/2018/01/nano.png'); }
.sti_centres_image#space { background-image: url('/wp-content/uploads/2018/01/space.jpg'); }
.sti_centres_image#m2c { background-image: url('/wp-content/uploads/2018/01/m2c.png'); }
.sti_centres_image#ccmx{ background-image: url('/wp-content/uploads/2018/01/ccmx.png'); }
#energy { background-image: url('/wp-content/uploads/2018/01/cen.png'); }
#acces { background-image: url('/wp-content/uploads/2018/01/ACCES.jpg'); }
#si { background-image: url('/wp-content/uploads/2018/01/si.jpg'); }
#cnp { background-image: url('/wp-content/uploads/2018/01/neuroprothese.jpg'); }
#cnu { background-image: url('/wp-content/uploads/2018/01/cnu.png'); }
#cmi { background-image: url('/wp-content/uploads/2018/01/micronano.jpg'); }
#cime { background-image: url('/wp-content/uploads/2018/01/microscopy.jpg'); }
#ateliers { background-image: url('/wp-content/uploads/2018/01/ateliers.png'); }
#mhmc { background-image: url('/wp-content/uploads/2018/01/mhmc.png'); }

.sti_centres_research {
  background-color: #ddd;
}

.sti_caption {
  padding-left: 10px;
  padding-top: 5px;
  background-color:#e0e0e0;
}

.page-whitebg {
  background-color: white;
  border: 1px solid $borderGrayBox;
}
/* to be precised
.article-content {
  img {
    border: 1px solid $borderGrayBox;
    padding: 5px;
  }
}*/
