/**
 * Style for pages (not posts)
 */
$borderGrayBox: #b2b0b0;

.sti_news_box{
  width:100%;
  float:left;
  background-color:#f2f2f2;
  border: 1px solid #b4b2b2;
  margin-bottom: 20px;
}
.sti_news_contenu{
  width:100%;
  float:left;
  background-color:#f2f2f2;
  padding: 15px;
}
.sti_gris_news{
  width:100%;
  height:2px;
  background-color:#e0e0e0;
  border-top: 1px solid #fff;
}
.sti_titre_news{
  background-color:#ccc;
  padding:0px 5px 5px 5px;
  font-weight: bold;
}
.sti_img_news{
  border: 1px solid #b4b2b2;
  padding:3px;
  background-color:#fff;
  margin-right: 10px;
  float: left;
}
.sti_news_body{
  width:100%;
  float:left;
  background-color:#e7e7e7;
  padding: 15px;
}
.sti_news_body > span{
  vertical-align: top;
}
.sti_news_contenu > a {
  color: inherit;
  text-decoration: none;
}
.sti_news_contenu > a:hover {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
a > .sti_news_box:hover > .sti_titre_news {
  color: #e22;
}
a > .sti_news_box:hover  > .sti_news_body{
  background-color: #ccc;
}

.box_news{
  width:100%;
  float:left;
  background-color:#f2f2f2;
  border: 1px solid #b4b2b2;
  margin-bottom: 20px;
  }
.gris_news{
  width:100%;
  height:2px;
  background-color:#e0e0e0;
  border-top: 1px solid #fff;
  }
.rouge{
  width:100%;
  height:6px;
  background-color:#c91a25;
  border-top: 1px solid #626161;
  border-bottom: 1px solid #626161;
  }
.img_news{
  border: 1px solid #b4b2b2;
  padding:3px;
  background-color:#fff;
  margin: 0px 0px 0px 15px;
  float: right;
  }
.titre_news{
  background-color:#ccc;
  padding:0px 5px 5px 5px;
  font-weight: bold;
  }
.contenu_news{
  text-align: justify;
  width:100%;
  float:right;
  background-color:#e7e7e7;
  padding: 15px;
  }

.span_news{
  vertical-align: top;
  text-align : justify;
  }

 a > .box_news:hover > .titre_news{
  color: #c91a25;
}


 a > .box_news:hover  > .contenu_news{
  background-color: #ccc;
}

/*------------------------------------*/

.box_education {
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px;
  border-radius: 0;
}

.titre_education {
  width: 100%;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
}


.img_education {
  width: 100%;
  border-radius: 0;

}

.titre_education>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:16px;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #b4b2b2;
}
 a > .box_education:hover > .titre_education{
  color: #c91a25;
}

/*------------------------------------*/






.faculty-titre-card {
  margin-bottom: 20px !important;
  line-height: 1;
  min-width: 174px;
  background-color: #ccc;
  border: none;
}

.faculty-titre-id {
  width: 100%;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
  height: 8rem;
  padding: 1rem;
  hyphens: auto;
 }

.faculty-rouge {
  width: 100%;
  height: 6px;
  background-color: #c91a25;
  border-top: 1px solid #626161;
  border-bottom: 1px solid #626161;
}

.faculty-img {
  width: 100%;
  border: 1px solid #626161;
  background-color: #fff;
  padding: 5px;
}

.faculty-titre-id>h4 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
  font-family: arial;
  font-size:12px;
  text-align: left;
}

.faculty-lab {
  font-size:10px;
  text-align: left;
}

.sti_content_title { /* superceded by sti_textured_header */
  background-color: black;
  color: white;
  font: 26px 'Open Sans';
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.article-content {
  padding: 15px;
  min-height:350px;
}

.sti_title_red {
  color: $theRed;
}

.sti_title_spacer {
  padding: 10px;
  font-size: 23px;
}

.sti_centres_link:hover {
  text-decoration:none;
}

#robotics { background-image: url('/wp-content/uploads/2018/01/nccr-robotics.png'); }
#marvel { background-image: url('/wp-content/uploads/2018/01/marvel.png'); }
#furies { background-image: url('/wp-content/uploads/2018/01/sccer.png'); }
#nanotera { background-image: url('/wp-content/uploads/2018/01/nano.png'); }
#space { background-image: url('/wp-content/uploads/2018/01/space.jpg'); }
#m2c { background-image: url('/wp-content/uploads/2018/01/m2c.png'); }
#ccmx{ background-image: url('/wp-content/uploads/2018/01/ccmx.png'); }
#energy { background-image: url('/wp-content/uploads/2018/01/cen.png'); }
#acces { background-image: url('/wp-content/uploads/2018/01/ACCES.jpg'); }
#si { background-image: url('/wp-content/uploads/2018/01/si.jpg'); }
#cnp { background-image: url('/wp-content/uploads/2018/01/neuroprothese.jpg'); }
#cnu { background-image: url('/wp-content/uploads/2018/01/cnu.png'); }
#cmi { background-image: url('/wp-content/uploads/2018/01/micronano.jpg'); }
#cime { background-image: url('/wp-content/uploads/2018/01/microscopy.jpg'); }
#ateliers { background-image: url('/wp-content/uploads/2018/01/ateliers.png'); }
#mhmc { background-image: url('/wp-content/uploads/2018/01/mhmc.png'); }

.sti_centres_header {
  border: solid 1px black;
  border-bottom: solid 0px black;
  background-color: #303030;
  padding: 10px;
  font: 22px calibri, verdana, sans-serif;
  color: white;
  width: 220px;
}

.sti_centres_banner {
  height: 7px;
  width: 220px;
  background-image: url('../assets/textured_header_top.png');
  background-position: center bottom;
}

.sti_centres_image {
  background-image: url('/wp-content/uploads/2018/01/nccr-robotics.png');
  background-size: 100% auto;
  background-position: center bottom;
  height: 138px;
  width: 220px;
  display: block;
  border-left: 1px solid #b2b2b0;
  border-right: 1px solid #b2b2b0;
}

.sti_centres_national {
  padding: 10px 20px 15px 10px;
  background-color: #eee;
  height: 80px;
  width: 220px;
  font: 16px calibri, verdana, sans-serif;
  border-left: 1px solid #b2b2b0;
  border-right: 1px solid #b2b2b0;
  border-bottom: 1px solid #b2b2b0;
}

.sti_centres_research {
  background-color: #ddd;
}

.sti_textured_header {
  background-color: #e4e4e4;
  color: #000;
  font: 2em 'Open Sans';
  width: 100%;
  padding: 25px 30px 28px 30px;
  background-image: url('../assets/textured_header.png');
  background-position: right;
  background-size: 60% 140%;
  background-repeat: no-repeat;
  border-left: solid 1px $borderGrayBox;
  border-right: solid 1px $borderGrayBox;
}

.sti_textured_header_top {
  height: 11px;
  width:100%;
  background-image: url('../assets/textured_header_top.png');
  border: 1px solid $borderGrayBox;
}

.sti_caption {
  padding-left: 10px;
  padding-top: 5px;
  background-color:#e0e0e0;
}

.sti_decanat_desc {
 padding: 10px;
 background-color: #f2f2f2;
}

.sti_decanat_portrait {
 border: solid 1px #bbb;
 background-color:white;
 width: 100%;
 padding: 8px 8px 0px 8px;
}

.sti_decanat_name {
  padding-left: 10px;
  padding-top: 5px;
}

.sti_decanat_box {
 margin: 20px;
 padding:0px;
}

.sti_decanat_grey {
 background-color:#e0e0e0;
 padding:0px;
}

.sti_decanat_buttons {
 float:right;
}

.sti_cluster_box{
  float: left;
  width: 200px;
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px;
  border-radius: 0;
}

.sti_cluster_titre {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
}

.sti_cluster_rouge {
  width: 100%;
  height: 6px;
  background-color: #c91a25;
  border-top: 1px solid #626161;
  border-bottom: 1px solid #626161;
}

.sti_cluster_img {
  width: 100%;
  height: 90px;
  border-radius: 0;
}

.sti_cluster_menu {
  width: 90%;
}

.sti_cluster_titre>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:16px;
  text-transform: uppercase;
  text-align: left;
}

.sti_cluster_menu>p>a {
  color: inherit;
  text-decoration: none;
  font-size: 10pt;
  font-family: arial;
  text-align: left;
}

.sti_cluster_menu>p>a:hover {
  color: #c91a25;
}

.page-whitebg {
  background-color: white;
  border: 1px solid $borderGrayBox;
}
/* to be precised
.article-content {
  img {
    border: 1px solid $borderGrayBox;
    padding: 5px;
  }
}*/
