/**
 * Style that is only used by handwritten HTML in the production site
 */

/* "Trombinoscope" pages (made up of a bunch of titles and [person]
 * shortcodes e.g. dean's office, section staff etc. */

.boxtromb {
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px 7px 25px 7px;
  border-radius: 0;
}
.boxtrombone {
  width: 346px;
}

.titretromb>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:25px;
  text-align: left;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #d1131c;
  width: 100%;
  background-image: url(theme-epfl-sti/assets/textured_header.png);
  background-color: #e4e4e4;
  background-position: left;
  background-size: 40% 140%;
  background-repeat: no-repeat;
}
.margintromb {
  margin: 20px;
}

/* STI dean's office page */
.sti_decanat_desc {
 padding: 10px;
 background-color: #f2f2f2;
}

.sti_decanat_portrait {
 border: solid 1px #bbb;
 background-color:white;
 width: 100%;
 padding: 8px 8px 0px 8px;
}

.sti_decanat_name {
  padding-left: 10px;
  padding-top: 5px;
}

.sti_decanat_box {
 margin: 20px;
 padding:0px;
}

.sti_decanat_grey {
 background-color:#e0e0e0;
 padding:0px;
}

.sti_decanat_buttons {
 float:right;
}

/* Themes page */

.titretheme>h4 {
  font-weight: bold;
  font-size:17px;
  border-bottom: 2px solid #d1131c;
  background-position: right;
}

/* Clusters pages */
.sti_cluster_box{
  float: left;
  width: 200px;
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px;
  border-radius: 0;
}

.sti_cluster_titre {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
}

.sti_cluster_rouge {
  width: 100%;
  height: 6px;
  background-color: #c91a25;
  border-top: 1px solid #626161;
  border-bottom: 1px solid #626161;
}

.sti_cluster_img {
  width: 100%;
  height: 90px;
  border-radius: 0;
}

.sti_cluster_menu {
  width: 90%;
}

.sti_cluster_titre>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:16px;
  text-transform: uppercase;
  text-align: left;
}

.sti_cluster_menu>p>a {
  color: inherit;
  text-decoration: none;
  font-size: 10pt;
  font-family: arial;
  text-align: left;
}

.sti_cluster_menu>p>a:hover {
  color: #c91a25;
}
