/**
 * Style that is only used by handwritten HTML in the production site
 */

/* "Trombinoscope" pages (made up of a bunch of titles and [person]
 * shortcodes e.g. dean's office, section staff etc. */

.boxtromb {
  background-color: #f2f2f2;
  border: 1px solid #b4b2b2;
  margin: 7px 7px 25px 7px;
  border-radius: 0;
}
.boxtrombone {
  width: 346px;
}

.titretromb>h4 {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-family: arial;
  font-size:25px;
  text-align: left;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #d1131c;
  width: 100%;
  background-image: url(theme-epfl-sti/assets/textured_header.png);
  background-color: #e4e4e4;
  background-position: left;
  background-size: 40% 140%;
  background-repeat: no-repeat;
}
.margintromb {
  margin: 20px;
}

/* Themes page */

.titretheme>h4 {
  font-weight: bold;
  font-size:17px;
  border-bottom: 2px solid #d1131c;
  background-position: right;
}
