/* TODO: Move all these things to files of their own. */
/* -------------------------------
    Polylang languages menu
   ---------------------------- */
.lang-item {
  display: inline;
}

.lang-item-first:after {
  content: " /";
}

.lang-item a {
  color: #23282D;
  text-decoration: none;
}

.lang-item.current-lang a {
  color: $theRed;
  pointer-events: none;
}
/* -------------------------------
    FontAwesome icons
    ---------------------------- */
a > i:hover {
  color: $theRed;
}

/* -------------------------------
    Home Page Front Row
    ---------------------------- */
.frontrowtitle {
  background-color: #272727;
  font: 26px 'Open Sans Regular';
  color: #fff;
  padding: 10px;
}
.frontrowcol {
  background-image: url('../img/src/charcoal.gif');
}
.frontrownews {
  width: 100%;
  height: 150px;
  border-left: #797979 1px solid;
  border-bottom: #cc161d 4px solid;
  background-size: 100%;
  background-position: center;
  transition: all .4s ease-in-out;
}
.frontrownews:hover {
  background-size: 130%;
}
.frontrownewstitle {
  width: 100%;
  height: 61px;
  position: relative;
  top: 85px;
  background-color: #4C4C4C;
  padding: 8px;
}
