.sti-faculty-sort {
  width: 100%;
  padding: 30px;
  display: inline-block;
  margin-bottom: 15px;
  background-color: white;

  .buttons {
    width: 247px;
    display: inline;
    padding: 0px;
    float: left;
    margin: 15px 0px 0px 15px ;

    a, a:visited {
      color: #333;
      text-decoration: none;
      background-color: #eee;
      width: 247px;
      margin: 0px 0px 15px 0px ;
      padding: 5px;
      padding-left: 15px;
      display: inline-block;
    }

    a:hover {
      color: white;
      text-decoration: none;
      background-color: #444;
    }

    a.sti-toggled, a.sti-toggled:visited {
      color: white;
      text-decoration: none;
      background-color: #333;
      width: 247px;
      margin: 0px 0px 15px 0px ;
      padding: 5px;
      padding-left: 15px;
      display: inline-block;
    }

    a.sti-toggled:hover {
      text-decoration: none;
    }
  }
}

